* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Arial',sans-serif;
}
body {
  max-width: 1100px;
  margin: auto;
}
.container {
  margin: 25px 70px;
}

/* -------------Линия между блоками------------ */
.line {
  border: 0.5px solid #696969;
}
/* -------------------------------------------- */

/* ----------------Шапка сайта----------------- */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dark {
  background: #777777;
}
.dark-head {
  min-height: 110px;
  margin-bottom: 20px;
}
.dark-head_logo {
 -ms-flex-preferred-size: 120px;
  flex-basis: 120px;
}
.dark-head_nav {
  -ms-flex-preferred-size: 280px;
  flex-basis: 280px;
 }
 .dark-head_contacts {
  -ms-flex-preferred-size: 510px;
  flex-basis: 510px;
  text-align: right;
 }
 .dark-head_ul {
  margin: 25px;
 }
 .dark-head_a {
   border-bottom: 1px solid #fff;
 }
/* --------------------------------------------- */

/* --------------Контент------------------------ */
    /* -------Боковая панель----------------- */
.wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
} 
.left-aside {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 185px;
  margin: 20px 0;
}
.dark-ul {
  list-style-type: none;
  display: inline-block;
}
.dark-aside_ul {
  margin: 15px;
}
.dark-a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dark-aside_a:hover {
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.left-aside_footer {
  min-height: 130px;
  max-width: 185px;
}
    /* -------------------------------------- */
    /* ------Основное содержимое------------- */
.center-section {
  max-width: 760px;
}
.light {
  background: #DCDCDC;
  margin-top: 20px;
  color: #777;
}
.center-content {
  min-height: 200px;
  padding: 20px;

}
.center-content_ul {
  margin: 35px 0 35px 60px;
  list-style-type: square;
}
.center-content_span {
  font-weight: bold;
}
.content-card {
  min-height: 150px;
  width: 130px;
}
.content-cards_start {
  width: 100%;
  max-width: 290px;
}

.content-article {
  width: 100%;
  max-width: 370px;
}
    /* -------------------------------------- */
/* --------------------------------------------- */

/* --------------Подвал сайта------------------- */
.footer-block {
  min-height: 180px;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}
.footer-flex_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dark-footer_ul {
  padding: 20px;
}
.footer-ul_left {
  margin-right: 35px;
}
.footer-parent_block {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0;
}
.footer-min_block {
  min-width: 300px;
  min-height: 80px;
}
/* --------------------------------------------- */